.card-box {
    margin: 130px auto;
    width: 230px;
    height: 230px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgb(71, 71, 70);
  }
  @media(max-width: 598px){
      .card-box{
          margin: 30px auto;
          width: 300px;
          height: 300px;
      }
  }